apiVersion: apps/v1
kind: Deployment
metadata:
  creationTimestamp: null
  labels:
    app.kubernetes.io/created-by: application-service
    app.kubernetes.io/instance: basic-quarkus
    app.kubernetes.io/managed-by: kustomize
    app.kubernetes.io/name: basic-quarkus
    app.kubernetes.io/part-of: green-turtle
  name: basic-quarkus
  namespace: pdave
spec:
  replicas: 1
  selector:
    matchLabels:
      app.kubernetes.io/instance: basic-quarkus
  strategy: {}
  template:
    metadata:
      creationTimestamp: null
      labels:
        app.kubernetes.io/instance: basic-quarkus
    spec:
      containers:
      - env:
        - name: DEBUG_PORT
          value: "5858"
        image: quay.io/redhat-appstudio/user-workload:pdave-basic-quarkus
        imagePullPolicy: Always
        livenessProbe:
          httpGet:
            path: /
            port: 8081
          initialDelaySeconds: 10
          periodSeconds: 10
        name: container-image
        ports:
        - containerPort: 8081
        readinessProbe:
          initialDelaySeconds: 10
          periodSeconds: 10
          tcpSocket:
            port: 8081
        resources:
          requests:
            cpu: 200m
            memory: 512Mi
status: {}
